<center>

  <div style="margin:0 auto; width:600px;">
        <div id="bljaIMGte" style ="float:left;">
          <p> North America</p>
          <%= image_tag("EU.png", :alt => "Estados Unidos", :class => "region comming" ) %>   
          <p>(NA)</p>
        </div>

        <div id="bljaIMGte"style ="float:left;">
          <p>Latin America North</p>
          <%= link_to image_tag("LAN.jpg", :alt => "Latinoameria norte", :class => "region"), lan_path %> 
          <p>(LAN)</p>
        </div>

        <div id="bljaIMGte"style ="float:left;">
          <p>Latin America South</p>
          <%= link_to image_tag("LAS.png", :alt => "Latinoameria sur", :class => "region" ),las_path %>          
          <p>(LAS)</p>
        </div>

        <div id="bljaIMGte"style ="float:left;">
          <p>Brazil</p>
          <%= image_tag("brazil.png", :alt => "Brazil", :class => "region  comming" ) %>    
          <p>(BR)</p>
        </div>
  </div>
  <div style="margin:0 auto; width:450px;">
        <div id="bljaIMGte"style ="float:left;">
          <p>EU West</p>
          <%= image_tag("Europa1.png", :class => "region comming" ) %> 
          <p>(EUW)</p>
        </div>

        <div id="bljaIMGte"style ="float:left;">
          <p>EU Nordic & East</p>
          <%= image_tag("Europa2.png", :class => "region comming" ) %>       
          <p>(EUNE)</p>
        </div>

        <div id="bljaIMGte"style ="float:left;">
          <p>Oceania</p>
          <%= image_tag("oceania.png", :alt => "Oceania", :class => "region comming" ) %> 
          <p>(AUS & NZ)</p>
        </div>                                       
  </div>
</center>
    <center>
      <%= form_for(@correo) do |c| %>
        <%= c.email_field :correo, placeholder: 'Correo eletrónico', required: "required" ,:style => 'margin-top:10px;'%>
        <br>
        <%= c.submit 'Contáctanos!' %>
      <% end %>
    </center>




