<title><% title "LAS"%></title>
<!-- Desktop-->
          <center> 
            <p>Acá podras Reportar a los jugadores mas Toxicos! y todos los podran conocer!
              <br>Adelante! y Reporta!</p>
            <%= link_to  new_la_path do %>
              <%= image_tag 'botom.png'%>
            <% end %>
          </center> <br><br><br>

    <div style="height:400px; overflow:scroll; ">
      <table class="table" >
        <thead>
          <tr>
            <th> <h4>Summoner Name</h4> </th>
            <th> <h4># of Report</h4></th>
          </tr>
        </thead>
        <tbody>
          <% @frecuencias.each do |summoner, frecuencia| %>
            <tr>
              <td><%= summoner %></td>
              <td><%= frecuencia %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <center>
      <%= form_for(@correo) do |c| %>
        <%= c.email_field :correo, placeholder: 'Correo eletrónico', required: "required" ,:style => 'margin-top:40px;'%>
        <br>
        <%= c.submit 'Contáctanos!' %>
      <% end %>
    </center>
