<div class="well span9 visible-desktop" style="margin-left:25px;">
  <div class="container-fluid ">
    <%= form_for(@report) do |f| %>


      <% if @report.errors.any? %>
        <div id="error_explanation">
          <h4><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h4>

          <ul>
          <% @report.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>


      <h6>Loes elementos que tienen (*) son requeridos</h6>
      <hr>
      <!--Summoner-->
        <div>
          <h4>* Nombre de invocador:</h4>
          <%= f.text_field :summoner , {:style => 'width: 97%;'} %>
        </div>
        <br>
      <!--Reason-->
        <div>
          <h4>*Razón:</h4>
          <%= f.select  :reason, [['Seleccione una razón',''],
                  ['Harassment: Offensive Language', 'Harassment: Offensive Language'],
                  ['Harassment: Verbal Abuse', 'Harassment: Verbal Abuse'],
                  ['Griefing: Intentional Feeding', 'Griefing: Intentional Feeding'],
                  ['Griefing: Assisting Enemy Team', 'Griefing: Assisting Enemy Team'] ]%>
        </div>
        <br>
      <!--Type-->
        <div>
          <h4>* Tipo de juego:</h4>

                <ul class="nav" data-tabs="tabs">
                    <li><a data-toggle="tab" href="#ranked">Ranked</a></li>
                    <li><a data-toggle="tab" href="#custom">Custom</a></li>
                    <li><a data-toggle="tab" href="#normal">Normal</a></li>
                    <li><a data-toggle="tab" href="#coo-vs-ai">Co-op vs. AI</a></li>
                </ul>
               
                <center>
                <div class="tab-content">
                  <div class="tab-pane" id="ranked">
                        <%= f.radio_button :types, 'Summoner’s Rift (Classic 5v5 Ranked)' %> Summoner’s Rift (Classic 5v5)<br>
                  </div>
                  <div class="tab-pane" id="custom">
                        <%= f.radio_button :types, 'All Draft All Mid (ADAM Custom)' %>  All Draft All Mid (ADAM) <br>
                        <%= f.radio_button :types, 'All Yordle All Mid (AYAM Custom)' %> All Yordle All Mid (AYAM)<br>
                        <%= f.radio_button :types, 'All Random All Jungle (ARAJ Custom)' %> All Random All Jungle (ARAJ)<br>
                        <%= f.radio_button :types, 'AAll Random All Bot (ARAB Dominion Custom)' %> All Random All Bot (ARAB Dominion)<br>
                        <%= f.radio_button :types, 'All Random Get Shield (ARGS Dominion Custom)' %> All Random Get Shield (ARGS Dominion)<br>
                        <%= f.radio_button :types, 'Draft Racing Custom' %> Draft Racing<br>
                        <%= f.radio_button :types, 'Hardcore PVP Custom' %> Hardcore PVP<br>
                        <%= f.radio_button :types, 'Protect the Soraka Bot (Protect the Queen Custom)' %> Protect the Soraka Bot (Protect the Queen)<br>
                        <%= f.radio_button :types, 'Catch the Teemo Custom' %> Catch the Teemo<br>
                        <%= f.radio_button :types, 'Catch the Yeti Custom' %> Catch the Yeti<br>
                        <%= f.radio_button :types, 'LoL Football Custom' %> LoL Football<br>
                        <%= f.radio_button :types, 'Find the Teemo Custom' %> Find the Teemo<br>
                        <%= f.radio_button :types, 'Hide and Seek Custom' %> Hide and Seek<br>
                        <%= f.radio_button :types, 'V-Zero Custom' %> V-Zero<br>
                        <%= f.radio_button :types, 'Ultimate Bravery Custom' %> Ultimate Bravery<br>
                  </div>
                  <div class="tab-pane" id="normal">
                        <%= f.radio_button :types, 'Summoner’s Rift (Classic 5v5 normal)' %> Summoner’s Rift (Classic 5v5)<br>
                        <%= f.radio_button :types, 'Twisted Treeline (Classic 3v3 normal)' %> Twisted Treeline (Classic 3v3)<br>
                        <%= f.radio_button :types, 'Crystal Scar (Dominion 5v5 normal)' %> Crystal Scar (Dominion 5v5)<br>
                        <%= f.radio_button :types, 'Howling Abyss (ARAM 5v5 normal)' %> Howling Abyss (ARAM 5v5)<br>
                  </div>
                  <div class="tab-pane" id="coo-vs-ai">
                        <%= f.radio_button :types, 'Summoner’s Rift (Classic 5v5 coo-vs-ai) ' %> Summoner’s Rift (Classic 5v5)<br>
                        <%= f.radio_button :types, 'wisted Treeline (Classic 3v3 coo-vs-ai)' %> wisted Treeline (Classic 3v3)<br>
                        <%= f.radio_button :types, 'Crystal Scar (Dominion 5v5 coo-vs-ai)' %> Crystal Scar (Dominion 5v5)<br>
                  </div>
                </div>  
                </center> 
        </div>
        <br>
      <!--Detail-->
        <div>
          <h4>Detalles</h4>
          <%= f.text_area :detail, {:style => 'resize:vertical; width: 97%; height: 120px;'} %>
        </div>
      <!--Submit-->
        <center>
          <div>
            <br>
              <%= f.submit 'Reporta!' %>

              <br>
              <%= link_to 'Atras', reports_path %>              
           </div>
        </center>

    <% end %>
  </div>
</div>
<!-- hidden-desktop -->
<div class="well hidden-desktop">
  <div class="container-fluid ">
    <%= form_for(@report) do |f| %>


      <% if @report.errors.any? %>
        <div id="error_explanation">
          <h4><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h4>

          <ul>
          <% @report.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>


      <h6>the elements that have (*) are required</h6>
      <hr>
      <!--Summoner-->
        <div>
          <h4>*Summoner’s Name:</h4>
          <%= f.text_field :summoner , {:style => "width: 97%;"} %>
        </div>
        <br>
      <!--Reason-->
        <div>
          <h4>*Reason</h4>
          <%= f.select  :reason, [['',''],
                  ['Harassment: Offensive Language', 'Harassment: Offensive Language'],
                  ['Harassment: Verbal Abuse', 'Harassment: Verbal Abuse'],
                  ['Griefing: Intentional Feeding', 'Griefing: Intentional Feeding'],
                  ['Griefing: Assisting Enemy Team', 'Griefing: Assisting Enemy Team'] ]%>
        </div>
        <br>
      <!--Type-->
        <div>
          <h4>*Type of Game:</h4>

                <ul class="nav" data-tabs="tabs">
                    <li><a data-toggle="tab" href="#_ranked">Ranked</a></li>
                    <li><a data-toggle="tab" href="#_custom">Custom</a></li>
                    <li><a data-toggle="tab" href="#_normal">Normal</a></li>
                    <li><a data-toggle="tab" href="#_coo-vs-ai">Co-op vs. AI</a></li>
                </ul>
               
                <center>
                <div class="tab-content">
                  <div class="tab-pane" id="_ranked">
                        <%= f.radio_button :types, 'Summoner’s Rift (Classic 5v5 Ranked)' %> Summoner’s Rift (Classic 5v5)<br>
                  </div>
                  <div class="tab-pane" id="_custom">
                        <%= f.radio_button :types, 'All Draft All Mid (ADAM Custom)' %>  All Draft All Mid (ADAM) <br>
                        <%= f.radio_button :types, 'All Yordle All Mid (AYAM Custom)' %> All Yordle All Mid (AYAM)<br>
                        <%= f.radio_button :types, 'All Random All Jungle (ARAJ Custom)' %> All Random All Jungle (ARAJ)<br>
                        <%= f.radio_button :types, 'AAll Random All Bot (ARAB Dominion Custom)' %> All Random All Bot (ARAB Dominion)<br>
                        <%= f.radio_button :types, 'All Random Get Shield (ARGS Dominion Custom)' %> All Random Get Shield (ARGS Dominion)<br>
                        <%= f.radio_button :types, 'Draft Racing Custom' %> Draft Racing<br>
                        <%= f.radio_button :types, 'Hardcore PVP Custom' %> Hardcore PVP<br>
                        <%= f.radio_button :types, 'Protect the Soraka Bot (Protect the Queen Custom)' %> Protect the Soraka Bot (Protect the Queen)<br>
                        <%= f.radio_button :types, 'Catch the Teemo Custom' %> Catch the Teemo<br>
                        <%= f.radio_button :types, 'Catch the Yeti Custom' %> Catch the Yeti<br>
                        <%= f.radio_button :types, 'LoL Football Custom' %> LoL Football<br>
                        <%= f.radio_button :types, 'Find the Teemo Custom' %> Find the Teemo<br>
                        <%= f.radio_button :types, 'Hide and Seek Custom' %> Hide and Seek<br>
                        <%= f.radio_button :types, 'V-Zero Custom' %> V-Zero<br>
                        <%= f.radio_button :types, 'Ultimate Bravery Custom' %> Ultimate Bravery<br>
                  </div>
                  <div class="tab-pane" id="_normal">
                        <%= f.radio_button :types, 'Summoner’s Rift (Classic 5v5 normal)' %> Summoner’s Rift (Classic 5v5)<br>
                        <%= f.radio_button :types, 'Twisted Treeline (Classic 3v3 normal)' %> Twisted Treeline (Classic 3v3)<br>
                        <%= f.radio_button :types, 'Crystal Scar (Dominion 5v5 normal)' %> Crystal Scar (Dominion 5v5)<br>
                        <%= f.radio_button :types, 'Howling Abyss (ARAM 5v5 normal)' %> Howling Abyss (ARAM 5v5)<br>
                  </div>
                  <div class="tab-pane" id="_coo-vs-ai">
                        <%= f.radio_button :types, 'Summoner’s Rift (Classic 5v5 coo-vs-ai) ' %> Summoner’s Rift (Classic 5v5)<br>
                        <%= f.radio_button :types, 'wisted Treeline (Classic 3v3 coo-vs-ai)' %> wisted Treeline (Classic 3v3)<br>
                        <%= f.radio_button :types, 'Crystal Scar (Dominion 5v5 coo-vs-ai)' %> Crystal Scar (Dominion 5v5)<br>
                  </div>
                </div>  
                </center> 
        </div>
        <br>
      <!--Detail-->
        <div>
          <h4>Detail:</h4>
          <%= f.text_area :detail, {:style => 'resize:vertical; width: 97%; height: 120px;'} %>
        </div>
      <!--Submit-->
        <center>
          <div>
            <br>
              <%= f.submit 'Report!' %>
              <br>
              <%= link_to 'Back', reports_path %>
           </div>
           
        </center>

    <% end %>
  </div>
</div>