<title><% title "LAN"%></title>
<!-- Desktop-->             

<div class="well offset0  span2" style="position: fixed; margin-top:-19px; margin-left:-220px;"><%= form_tag reports_path, :method => 'get' do %>
  <center>
    <br>
  <p>Conoces a alguien de la lista?</p>
  <p> Buscalo!</p>
  <br>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: 'Summoner' %>
    <%= submit_tag "Search", :summoner => nil %>
  </p></center>
  <br>
    <center><%= link_to 'Atras', reports_path %>  </center>
<% end %></div>


          <%= render 'layouts/contact' %>  
          <center> 
            <p>Aquí podrás reportar a los jugadores más tóxicos de League of Legends para que todos los conozcan. 
            <br>Tan solo debes hacer click en reportar!</p>
            
            <a href="/reports/new" style="text-decoration:none; color:#CCC;"><button class = "myButton" ><h1>REPORTA!</h1> </button></a>
            
          </center> <br><br><br>
<% if @lol.nil? %>  
    <div style="height:400px; overflow:scroll; ">
      <table class="table" >
        <thead>
          <tr>
            <th> <h4>Summoner </h4> </th>
            <th> <h4># de Reportes</h4></th>
          </tr>
        </thead>
        <tbody>
          <% @frecuencias.each do |summoner, frecuencia| %>
            <tr>
              <td><%= summoner %></td>
              <td><%= frecuencia %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
<% else %>
    <div style="height:200px; overflow:scroll; ">
      <table class="table" >
        <thead>
          <tr>
            <th>Summoner</th>
            <th>ID de reporte</th>
            <th>Reporte</th>
          </tr>
        </thead>

        <tbody>
          <% @lol.each do |t| %>
            <tr>
              <td><%=  t.summoner %></td>
              <td><%= t.id %></td>
              <td><%= link_to 'Show', :action => :show, :id => t.id %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><br>

<% end %>



