<title><% title "LAN"%></title>
<!-- Desktop-->             
            <div class="well offset9  span3" style="position: fixed;">  
              <center>
                <p>¿Quieres recibir las últimas noticias de League of Legends Blacklist? </p>
                Regístrate en nuestra lista de correos:
                <%= form_for(@correo) do |c| %>
                  <%= c.email_field :correo, placeholder: 'Correo eletrónico', required: "required" ,:style => 'margin-top:40px;'%>
                  <br>
                  <%= c.submit 'Registrar' %>
                <% end %>
              </center>
            </div>
            
          <center> 
            <p>Aquí podrás reportar a los jugadores más tóxicos de League of Legends para que todos los conozcan. 
            <br>Tan solo debes hacer click en reportar!</p>
            
            <a href="/reports/new" style="text-decoration:none; color:#CCC;"><button class = "myButton" ><h1>REPORTA!</h1> </button></a>
            
          </center> <br><br><br>


    <div style="height:400px; overflow:scroll; ">
      <table class="table" >
        <thead>
          <tr>
            <th> <h4>Summoner </h4> </th>
            <th> <h4># de Reporte</h4></th>
          </tr>
        </thead>
        <tbody>
          <% @frecuencias.each do |summoner, frecuencia| %>
            <tr>
              <td><%= summoner %></td>
              <td><%= frecuencia %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
