
   

<h1>Listing reports</h1>

  <table class="table">
    <thead>
      <tr>
        <th> <h4>Summoner Name</h4> </th>
        <th> <h4># of Report</h4></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @frecuencias.each do |summoner, frecuencia| %>
      <tr>
      <!-- <td><% @users.each do |report| %>
        <%= link_to report do %><%= report.summoner %> <% end -%>
      <% end -%>
      -->
      <td><%= summoner %></td>
      <td><%= frecuencia %> </td>
    </tr>
    <% end %>
  </tbody>

</table>

</div>


        <div class="span3" style="min-width:250px;">
          <div class="well sidebar-nav">
            <ul class="nav nav-list" style="pading:5px;">


            <%= render 'correo' %>
            </ul>

          </div><!--/.well -->
        </div><!--/span-->




