
<title><% title "Reporte"%></title>
<p id="notice"><%= notice %></p>

<p>
  <b>Summoner:</b>
  <%= @report.summoner %>
</p>

<p>
  <b>Type:</b>
  <%= @report.types %>
</p>

<p>
  <b>Reason:</b>
  <%= @report.reason %>
</p>

<p>
  <b>Detail:</b>
  <%= @report.detail %>
</p>

<br><br>
    <center><%= link_to 'Atras', reports_path %>  </center>