<div class="span9">
<title><% title "Reporte"%></title>
<p id="notice"><%= notice %></p>

<p>
  <b>Summoner:</b>
  <%= @report.summoner %>
</p>

<p>
  <b>Type:</b>
  <%= @report.types %>
</p>

<p>
  <b>Reason:</b>
  <%= @report.reason %>
</p>

<p>
  <b>Detail:</b>
  <%= @report.detail %>
</p>

<script>


  function redireccion() {
    alert('Serás redirigido al inicio.');
    document.location.href='/reports';
  }
  setTimeout('redireccion()',3000 );
</script>
</div>
