<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
     <script type="text/javascript">
/* <![CDATA[ */
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();
/* ]]> */</script>
  

  </head>


  <body class="body">


    <div class="navbar">
      <div class="navbar-inner navbar-inverse">
        <br>
        <a href="<%= root_url %>" class="brand">
          <%= image_tag('lol4.png', :class => 'span2') %>
        </a>

        <div class="blrand visible-desktop">
          <ul class="nav " style="float:right;">
                <li><a href="/">Regiones</a></li>
                <li><a href="/howto">Cómo usar la página</a></li>
                <li><a href="/howtoimprove">Cómo mejorar</a></li>
                <li><a href="/FAQ">Preguntas Frecuentes</a></li>
          </ul>
        </div>

        <button class = "myButton hidden-desktop navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse" style="float:right; margin:10px;">
          <%= image_tag 'list.png', :class => 'lista'%>
        </button>

        <br>  
        
        <div class = "collapse navbar-collapse navHeaderCollapse hidden-desktop">
          <div id="navbar">
            <br>
            <ul class="nav">
              <li class="nav span6"><a href="/">Regiones</a></li>
              <li class="nav span6"><a href="/howto">Cómo usar la página</a></li>
              <li class="nav span6"><a href="/howtoimprove">Cómo mejorar</a></li>
              <li class="nav span6"><a href="/FAQ">Preguntas Frecuentes</a></li>
            </ul>            
          </div>            
        </div>

      </div>
    </div>



    <!-- cuerpo -->
    <div class=" navbar-inverse" >
      <div class="container " style="margin-left:15%; ">
        <%= bootstrap_flash %>
        <div class="span9 well">
          <%= yield %>
        </div>

        <%= render 'layouts/ga' %>
      </div>
    </div>




      

    <!-- Footer -->

        <%= link_to 'https://www.facebook.com/rolemgaming',  target: '_blank', :style => "text-decoration:none;"  do %>
          <p style="color:#CCC; margin-left:10px;"> <i><b>R</b><i>olem</i> <i><b>M</b>edia</i> <i><b>G</b>roup</i> </p>
        <% end -%>

      <center>
        
         <a class="FlattrButton" style="display:none;" href="http://www.leagueoflegendsblacklist.com/"></a>

        
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="CY7FFCMCP84KJ">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG_global.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
         <span id="cdSiteSeal1" class="offset1"><script type="text/javascript" src="//tracedseals.starfieldtech.com/siteseal/get?scriptId=cdSiteSeal1&amp;cdSealType=Seal1&amp;sealId=55e4ye7y7mb731e13cd7aef48133ead1dmy7mb7355e4ye72ed0ce96d7dc49eb3"></script></span></center>


    <%= javascript_include_tag "application" %>
    <!-- User Voice -->
        <script>
          // Include the UserVoice JavaScript SDK (only needed once on a page)
          UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/G3ZtSfbSqkQpuQOlOoXQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

          // Set colors
          UserVoice.push(['set', {
            accent_color: '#e23a39',
            trigger_color: 'white',
            trigger_background_color: '#e23a39'
          }]);

          // Identify the user and pass traits
          // To enable, replace sample data with actual user traits and uncomment the line
          UserVoice.push(['identify', {
            //email:      'john.doe@example.com', // User’s email address
            //name:       'John Doe', // User’s real name
            //created_at: 1364406966, // Unix timestamp for the date the user signed up
            //id:         123, // Optional: Unique id of the user (if set, this should not change)
            //type:       'Owner', // Optional: segment your users by type
            //account: {
            //  id:           123, // Optional: associate multiple users with a single account
            //  name:         'Acme, Co.', // Account name
            //  created_at:   1364406966, // Unix timestamp for the date the account was created
            //  monthly_rate: 9.99, // Decimal; monthly rate of the account
            //  ltv:          1495.00, // Decimal; lifetime value of the account
            //  plan:         'Enhanced' // Plan name for the account
            //}
          }]);

          // Add default trigger to the bottom-right corner of the window:
          UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

          // Or, use your own custom trigger:
          //UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

          // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
          UserVoice.push(['autoprompt', {}]);
        </script>
    
  </body>
</html>
