<!DOCTYPE html>
<html lang="en">
  <head>


  <title><%= title %></title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>

  </head>
  <body class="body">

    <div class="navbar navbar-inverse navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="hidden-phone hidden-tablet">
          <a class="brand" style="text-decoration:none;" href="/"><h4>League of Legend Black List</h4></a>
          </div>
          <div class="visible-phone visible-tablet">
          <div class="brand " > 
          <div class="span">
          <%= link_to  new_report_path do %>
          <%= image_tag 'botom.png'%>
          <% end -%>
          
          </div>
          </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">

        <div class="visible-desktop">
        <div class="span2">
          <div class="well">
            <ul class="nav nav-list" style="pading:5px;">
          <%= link_to  new_report_path do %>
          <%= image_tag 'botom.png'%>
          <% end -%>
          
            </ul>

          </div><!--/.well -->
        </div><!--/span-->
        </div>


        <div class="span9">
          <%= bootstrap_flash %>
          <br>
          <%= yield %>

          <%= render 'layouts/ga' %>
        </div>
      </div><!--/row-->

     
             <div>
        <%= link_to 'https://www.facebook.com/rolemgaming',  target: '_blank'  do %>
          <p class="span2" style="color:#CCC;"> <i><b>R</b><i>olem</i> <i><b>M</b>edia</i> <i><b>G</b>roup</i> </p>
        <% end -%>
      </div>
      

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
